# ------------------------
# Исключаем виртуалки
# ------------------------
.venv/
venv/
env/

# ------------------------
# Python cache
# ------------------------
__pycache__/
*.pyc
*.pyo

# ------------------------
# IDE и системные файлы
# ------------------------
.idea/
.vscode/
*.iml
*.swp
*.swo
.DS_Store

# ------------------------
# Логи
# ------------------------
*.log


# ------------------------
# Тесты и временные файлы
# ------------------------
.coverage
htmlcov/
pytest_cache/

# ------------------------
# Статические файлы (собираются внутри контейнера)
# ------------------------
static/
media/

# ------------------------
# Poetry кеш
# ------------------------
poetry.lock

# (оставляем если нужен — обычно он нужен)
# Если ты хочешь фиксировать версии → закомментируй строку выше
